.container{
  text-align: center;
}
input{
  margin-bottom:10px;
  padding:4px;
  width: 50%;
  border: none;
  border-radius: 4px;
}
button{
  color: aliceblue;
  background-color: green;
  border: none;
  border-radius: 4px;
  padding:4px;
}
table{
  margin-top: 10px;

  width: 50%;
  height: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}
th,td{
  padding:10px;
  color: rgb(17, 18, 19);
  background-color: aliceblue;
  border:1px solid black;
  text-align: center;
}
.edit{
  color:aliceblue;
  background-color: #0000ff;
  border-radius: 8px;
  margin-right: 10px;
  width: 60px;
}
.delete{
  color: aliceblue;
  background-color: red;
  padding: 4px;
  border-radius: 8px;
  width: 60px;
}
table{
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.f{
    width: 500px;
    margin-left: 25%;
   padding: 5%;
   height: fit-content;
   color:rgb(14, 16, 18);
   border-radius: 5%;
   background-color: rgba(240, 248, 255, 0.557);
}
.i/p{
   margin-left: 0%;
   display: block;
  color:black;
  margin-bottom:30%;
  padding: 3%;
 width:80%;
 height: 40%;
border-radius: 12px;
 border-color: aliceblue;
}
.btn{
  background-color: green;
}
.container{
  background-image: url(../src/assets/background.png);
  background-color: rgba(39, 39, 40, 0.728);
}
label{
  display: block;
  text-align:left ;
  align-items: start;
  margin-left: 120px;
  font-size: 10px;
}