.container{
  text-align: center;
}
input{
  margin-bottom:10px;
  padding:4px;
  border-radius: 4px;
}
button{
  color: aliceblue;
  background-color: green;
  border: none;
  border-radius: 4px;
  padding:4px;
}
table{
  margin-top: 10px;
  width: 50%;
  height: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}
th,td{
  padding:10px;
  border:1px solid black;
  text-align: center;
}
.edit{
  color:aliceblue;
  background-color: #0000ff;
  border-radius: 8px;
  margin-right: 10px;
  width: 60px;
}
.delete{
  color: aliceblue;
  background-color: red;
  padding: 4px;
  border-radius: 8px;
  width: 60px;
}